
 <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SMARTS | Ventes</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
         <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-theme.min.css') }}">

    <link href="{{ asset('css/dataTables.bootstrap.min.css') }}" rel="stylesheet">

    <script type="text/javascript">
        print();
    </script>
  </head>
  <body>
    
 <center>
    <h1>Les Ventes du jours</h1>
    <h2>Le : </h2>
    <h3> {{ app.request.query.get("date") }}</h3>
 </center>
<br />
<div class="table-responsive">
        <table id="myTable-sales" class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Code Produit</th>
                    <th>Nom Produit</th>
                    <th>Marques</th>
                    <th><center>Poids en gramms</center></th>
                    <th><center>Type</center></th>
                    <th><center>Prix</center></th>
                    <th><center>Qté</center></th>
                    <th><center>Prix Total</center></th>
                </tr>
            </thead>
            <tbody>
            
                {% set total = 0 %}
                {% for ds in dailySales %}  
                    {% set price = ds.price %}
                    {% set qty = ds.qty %}
                    {% set subTotal = price * qty %}
                    {% set total = total + subTotal %}

                <tr>
                    <td>{{ ds.itemCode }}</td>
                    <td>{{ ds.genericName }}</td>
                    <td>{{ ds.brand }}</td>
                    <td>{{ ds.gram }}</td>
                    <td>{{ ds.type }}</td>
                    <td align="center">{{ ds.price|number_format(2, '.', ',') }}</td>
                    <td align="center">{{ ds.qty }}</td>
                    <td align="center">{{ subTotal }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td align="right"><strong>TOTAL:</strong></td>
                <td align="center">
                     <strong>{{ total|number_format(2, '.', ',') }} Dhs</strong>
                </td>
            </tr>
        </table>


<br /><br /><br /><br /><br />
        <center>
            <h3>Signature</h3>
        </centre>
        
</div>


<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

<!-- for the datatable of employee -->
<script type="text/javascript">
    $(document).ready(function() {
        $('#myTable-sales').DataTable();
    });
</script>

